<section>
    <h1 class="center-vertical"><%= current_user.name %>の参加しているグループ一覧</h1>
    <div class="d-flex justify-content-center align-items-center">
    <% unless @groups.empty? %>
	<% @groups.each do |group| %>
		<a class="btn post" href="/group/<%= group.id %>/home" style="border-radius: 50%; background-color: <%= group.color %>;">
			<p><%= group.group_name %></p>
			<p><%= group.code %></p>
		</a>
	<% end %>
	<% else %>
	<p>参加しているグループはありません</p>
	<% end %>
	</div>
</section>