<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">みんタス</a>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  		<div class="offcanvas-header">
    		<h5 id="offcanvasRightLabel"><%= current_group.group_name %>のタスク一覧</h5>
    		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  		</div>
  		<div class="offcanvas-body">
    		<ul class="navbar-nav">
        		<% if !current_user.nil? %>
				  	<a class="nav-link" href="/"><img src="<%= current_user.top_img %>" alt="user_image" width="40" height="40"><p><%= current_user.name %></p></a>
				  	<a class="nav-link" href="/group/<%= current_group.id %>/edit"><%= current_group.group_name %>の情報閲覧</a>
				  	<a class="nav-link" href="/group/select">グループ一覧に戻る</a>
				  	<a class="nav-link" href="/signout">ログアウト</a>
				<% else %>
					<a class="nav-link" href="/">ログイン</a>
				  <a class="nav-link" href="/signup">新規ユーザー登録</a>
				<% end %>
      		</ul>
  		</div>
	</div>
  </div>
  </nav>

<section class="center-vertical">
    <h1 class="center-vertical"><%= current_group.group_name %>の情報の編集</h1>
    <div class="login_button">
    <form action="/group/create" method="post">
          <label for="group_name">グループの名前</label><br>
        	<input class="form-control" name="group_name" placeholder="作成するグループの名前を入力" value="<%= CGI.escapeHTML(@group.group_name) %>"><br>
        	<label for="group_code">招待用グループコード</label><br>
        	<input class="form-control" name="group_code" placeholder="作成するグループの名前を入力" value="<%= CGI.escapeHTML(@group.code) %>"><br>
        	<input type="color" name="color" list="color-list" value="<%= CGI.escapeHTML(@group.color) %>" value="<%= CGI.escapeHTML(@group.color) %>"> グループカラーを選択<br><br>
                <datalist id="color-list">
                    <option value="#C5D4EB">
                    <option value="#D3EBE8">
                    <option value="#FEF0F0">
                    <option value="#FDD9DB">
                    <option value="#EDCCDC">
                </datalist>
        	<input class="form-control" type="submit" value="変更する">
    	</form>
    </div>
</section>