<section class="center-vertical">
    <h1><%= current_user.name %>の参加しているグループ一覧</h1>
    <% unless @groups.empty? %>
	<% @groups.each do |group| %>
		<a class="post center-vertical" href="/group/<%= group.id %>/home" style="background-color: <%= group.color %>;">
			<p><%= group.group_name %></p>
			<p><%= group.code %></p>
		</a>
	<% end %>
	<% else %>
	<p>参加しているグループはありません</p>
	<% end %>
</section>