<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">みんタス</a>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  		<div class="offcanvas-header">
    		<h5 id="offcanvasRightLabel"><%= current_group.group_name %>のタスク一覧</h5>
    		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  		</div>
  		<div class="offcanvas-body">
    		<ul class="navbar-nav">
        		<% if !current_user.nil? %>
				  	<a class="nav-link" href="/"><img src="<%= current_user.top_img %>" alt="user_image" width="40" height="40"><p><%= current_user.name %></p></a>
				  	<a class="nav-link" href="/group/<%= current_group.id %>/info"><%= current_group.group_name %>の情報閲覧</a>
				  	<a class="nav-link" href="/group/<%= current_group.id %>/edit"><%= current_group.group_name %>の情報編集</a>
				  	<a class="nav-link" href="/group/select">グループ一覧に戻る</a>
				  	<a class="nav-link" href="/signout">ログアウト</a>
				<% else %>
					<a class="nav-link" href="/">ログイン</a>
				  <a class="nav-link" href="/signup">新規ユーザー登録</a>
				<% end %>
      		</ul>
  		</div>
	</div>
  </div>
  </nav>

<section class="group">
  <h1 class="center-vertical"><%= current_group.group_name %>のタスク一覧</h1>
    <% if !@task.blank? %>
    <div class="d-flex justify-content-center align-items-center">
      <div class="state-box">
      <h3 class="center-vertical">やるべきこと</h1>
      <div class="d-flex justify-content-center align-items-center flex-wrap align-self-center">
        <% @task_todo.each do |task| %>	
	        <!-- Button trigger modal -->
          <button type="button" class="btn task-box" data-bs-toggle="modal" data-bs-target="#exampleModal<%= task.id %>" style="border-radius: 50%; background-color: <%= current_group.color %>;">
            <p id="change-task"><%= task.title %></p>
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal<%= task.id %>" tabindex="-1" aria-labelledby="exampleModal<%= task.id %>Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header d-flex justify-content-around">
                  <h5 class="modal-title me-auto" id="exampleModal<%= task.id %>Label">タイトル：<%= task.title %></h5>
                  <form action="/group/<%= current_group.id %>/task/<%= task.id %>/change_status" method="post">
                    <input type="submit" class="btn btn-outline-secondary rounded-pill" value="doingにする">
                  </form>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
				          <p>やること：<%= task.todo %></p>
				          <p>優先度：<%= task.priority %></p>
				          <p>タスクの状態：<%= task.state %></p>
				          <p>参加しているユーザー</p>
				          <div class="d-flex justify-content-center align-items-center">
				            <% task.join_users.each do |user| %>
					            <div class="user-box">
					              <img src="<%= user.top_img %>" alt="user_image" width="40" height="40">
				            	</div>
					          <% end %>
					        </div>
                </div>
                <div class="modal-footer">
                  <% if !task.join_users.find_by(id: session[:user]) %>
                    <a class="btn btn-success" href="/group/<%= current_group.id %>/task/<%= task.id %>/join">参加</a>
                  <% else %>
                    <a class="btn btn-secondary" href="/group/<%= current_group.id %>/task/<%= task.id %>/leave">離脱</a>
                  <% end %>
                  <a class="btn btn-warning" href="/group/<%= current_group.id %>/task/<%= task.id %>/delete">削除</a>
                  <a class="btn btn-info" href="/group/<%= current_group.id %>/task/<%= task.id %>/edit">編集</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      </div>
      
      <div class="state-box">
      <h3 class="center-vertical">今行っているもの</h1>
      <div class="d-flex justify-content-center align-items-center flex-wrap align-self-center">
        <% @task_doing.each do |task| %>	
	        <!-- Button trigger modal -->
          <button type="button" class="btn task-box" data-bs-toggle="modal" data-bs-target="#exampleModal<%= task.id %>" style="border-radius: 50%; background-color: <%= current_group.color %>;">
            <p id="change-task"><%= task.title %></p>
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal<%= task.id %>" tabindex="-1" aria-labelledby="exampleModal<%= task.id %>Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header d-flex justify-content-around">
                  <h5 class="modal-title me-auto" id="exampleModal<%= task.id %>Label">タイトル：<%= task.title %></h5>
                  <form action="/group/<%= current_group.id %>/task/<%= task.id %>/change_todostatus" method="post">
                    <input type="submit" class="btn btn-outline-secondary rounded-pill" value="todoにする">
                  </form>
                  <form action="/group/<%= current_group.id %>/task/<%= task.id %>/change_status" method="post">
                    <input type="submit" class="btn btn-outline-secondary rounded-pill" value="doneにする">
                  </form>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
				          <p>やること：<%= task.todo %></p>
				          <p>優先度：<%= task.priority %></p>
				          <p>タスクの状態：<%= task.state %></p>
				          <p>参加しているユーザー</p>
				          <div class="d-flex justify-content-center align-items-center">
				            <% task.join_users.each do |user| %>
					            <div class="user-box">
					              <img src="<%= user.top_img %>" alt="user_image" width="40" height="40">
				            	</div>
					          <% end %>
					        </div>
                </div>
                <div class="modal-footer">
                  <% if !task.join_users.find_by(id: session[:user]) %>
                    <a class="btn btn-success" href="/group/<%= current_group.id %>/task/<%= task.id %>/join">参加</a>
                  <% else %>
                    <a class="btn btn-secondary" href="/group/<%= current_group.id %>/task/<%= task.id %>/leave">離脱</a>
                  <% end %>
                  <a class="btn btn-warning" href="/group/<%= current_group.id %>/task/<%= task.id %>/delete">削除</a>
                  <a class="btn btn-info" href="/group/<%= current_group.id %>/task/<%= task.id %>/edit">編集</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      </div>
      
     <div class="state-box">
      <h3 class="center-vertical">終わったもの</h1>
      <div class="d-flex justify-content-center align-items-center flex-wrap align-self-center">
        <% @task_done.each do |task| %>	
	        <!-- Button trigger modal -->
          <button type="button" class="btn task-box" data-bs-toggle="modal" data-bs-target="#exampleModal<%= task.id %>" style="border-radius: 50%; background-color: <%= current_group.color %>;">
            <p id="change-task"><%= task.title %></p>
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal<%= task.id %>" tabindex="-1" aria-labelledby="exampleModal<%= task.id %>Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header d-flex justify-content-evenly">
                  <h5 class="modal-title me-auto" id="exampleModal<%= task.id %>Label">タイトル：<%= task.title %></h5>
                  
                  <form action="/group/<%= current_group.id %>/task/<%= task.id %>/change_status" method="post">
                    <input type="submit" class="btn btn-outline-secondary rounded-pill" value="doingにする">
                  </form>
                  
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
				          <p>やること：<%= task.todo %></p>
				          <p>優先度：<%= task.priority %></p>
				          <p>タスクの状態：<%= task.state %></p>
				          <p>参加しているユーザー</p>
				          <div class="d-flex justify-content-center align-items-center">
				            <% task.join_users.each do |user| %>
					            <div class="user-box">
					              <img src="<%= user.top_img %>" alt="user_image" width="40" height="40">
				            	</div>
					          <% end %>
					        </div>
                </div>
                <div class="modal-footer">
                  <% if !task.join_users.find_by(id: session[:user]) %>
                    <a class="btn btn-success" href="/group/<%= current_group.id %>/task/<%= task.id %>/join">参加</a>
                  <% else %>
                    <a class="btn btn-secondary" href="/group/<%= current_group.id %>/task/<%= task.id %>/leave">離脱</a>
                  <% end %>
                  <a class="btn btn-warning" href="/group/<%= current_group.id %>/task/<%= task.id %>/delete">削除</a>
                  <a class="btn btn-info" href="/group/<%= current_group.id %>/task/<%= task.id %>/edit">編集</a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      </div>
      </div>

	<% else %>
	<p class="center-vertical">作成したタスクはありません</p>
	<% end %>
	<div class="d-flex justify-content-center align-items-center">
	  <a class="btn post center-vertical" href="/group/<%= current_group.id %>/task/create">タスクを作成する</a>
	 </div>
</section>