<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">みんタス</a>
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  		<div class="offcanvas-header">
    		<h5 id="offcanvasRightLabel"><%= current_group.group_name %>のタスク一覧</h5>
    		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  		</div>
  		<div class="offcanvas-body">
    		<ul class="navbar-nav">
        		<% if !current_user.nil? %>
				  	<a class="nav-link" href="/"><img src="<%= current_user.top_img %>" alt="user_image" width="40" height="40"><p><%= current_user.name %></p></a>
				  	<a class="nav-link" href="/group/<%= current_group.id %>/edit"><%= current_group.group_name %>の情報閲覧</a>
				  	<a class="nav-link" href="/group/<%= current_group.id %>/home"><%= current_group.group_name %>のタスク一覧</a>
				  	<a class="nav-link" href="/group/select">グループ一覧に戻る</a>
				  	<a class="nav-link" href="/signout">ログアウト</a>
				<% else %>
					<a class="nav-link" href="/">ログイン</a>
				  <a class="nav-link" href="/signup">新規ユーザー登録</a>
				<% end %>
      		</ul>
  		</div>
	</div>
  </div>
  </nav>

<section class="center-vertical">
    <h1 class="center-vertical"><%= current_group.group_name %>のタスクの編集</h1>
    <div class="login_button">
    <form action="/group/<%= current_group.id %>/task/<%= @task.id %>/edit" method="post">
        <label for="title">タスクの名前</label><br>
        <input class="form-control" type="text" name="title" placeholder="作成するタスクのタイトルを入力" value="<%= CGI.escapeHTML(@task.title) %>" required><br>
        <label for="todo">タスクの詳細な内容</label><br>
        <input class="form-control" type="text" name="todo" placeholder="タスクの詳細な内容を入力" value="<%= CGI.escapeHTML(@task.todo) %>" required><br>
        <label for="priority">タスクの優先度(1から5までの間で)</label><br>
        <input class="form-control" type="number" name="priority" placeholder="タスクの優先度を入力" value="<%= @task.priority %>" max="5" min="1" maxlength="1" required><br>
        <label for="state">タスクの状態</label><br>
        <select class="form-control" type="number" name="state" placeholder="タスクの状態を選択" required><br>
			<option value="todo">ToDo</option>
			<option value="doing">Doing</option>
			<option value="done">Done</option>
		</select><br>
        <input class="form-control" type="submit" value="登録">
    </form>
    </div>
</section>