<section class="center-vertical">
    <% if !@task.blank? %>
	<% @task.each do |task| %>
		<a class="post center-vertical" href="/group/<%= current_group.id %>/task/<%= task.id %>/edit" style="background-color: <%= current_group.color %>;">
			<p><%= task.title %></p>
			<p><%= task.todo %></p>
		</a>
	<% end %>
	<% else %>
	<p>作成したタスクはありません</p>
	<% end %>
	
	<a href="/group/<%= current_group.id %>/task/create">タスクを作成する</a>
</section>